body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  position: relative;
  padding: 20px;
}

.sacola {
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;

   font-size: 14px;
   padding-right: 35px ;
   text-align: right;
   width: 140px;
}

.sacola{
  position: absolute;
  top: 20px;
  right: 0;
}

.sacola {
  padding-top: 8px
}

.menu-opcoes ul {
  font-size: 15px;
}

.menu-opcoes a {
   color: #003366;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px
}
.menu-opcoes{
  position: absolute;
  bottom: 0;
  right: 0;
}

.container {
  margin: auto;
  width: 90%;
}

.busca,
.menu-departamentos {
  background-color: #DCDCDC;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 33%;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
  margin: 10px;
}

.busca input[type=search] {
  width: 75%;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.busca button {
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
}

.busca, .menu-departamentos {
  float: left;
  margin-top: 10px;
 }

 .menu-departamentos {
  clear: left;
 }

.menu-departamentos li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.menu-departamentos a {
  color: #333333;
  text-decoration: none;
}   

.menu-departamentos{
  margin-top: 10px;
  padding-bottom: 10px;
}

.destaque {
  margin-top: 10px
}